<html>
    <head>
        <title>EWSaeratos</title>
    </head>

    <body style="overflow-y: hidden;">
        <div name="Main" style="position:absolute;  top: 0% ; left: 0%; right: 0%; width: 100%; height: 100%; background-image: url('/assets/mainBackground.jpg');">
            <div name="Top" style="position:absolute; top: 0% ; left: 0%; right: 0%; width: 100%; height: 10%;  background-color: black">
                <div name="Logo" style="position:relative; top: 15% ; left: 1%; width: 40%; height: 45%">
                    <img style="border-radius:18px" height="42" width="42" src="/assets/logo.jpg" alt="Mia Immagine">
                </div>
                <div name="Logo-Write" style="position:relative; top: 1% ; left: 5%; width: 40%; height: 45%">
                    <span style="font-size: 18px; color:white; font-family: verdana; font-weight: bold;">EWSaeratos</span>
                </div>
            </div>

            <div name="Center" style="position:absolute; top: 25% ; left: 30%; right: 15%; width: 40%; height: 45%; background-color: rgb(255, 255, 255,0.4); border-radius:12px">
                <div name="Title" style="position:relative; top: 20% ; left: 40%; right: 15%; width: 30%; height: 35%">
                    <span style="font-size: 18px; color:black; font-family: verdana; font-weight: bold;">WELCOME</span>
                </div>

                <div name="Text" style="position:relative; top: 5% ; left: 15%; right: 15%; width: 80%; height: 45%">
                    <span style="font-size: 16px; color:black; font-family: verdana">Click here to download EWSaeratos Apllication</span>
                </div>

                <div name="Download" style="position:relative; top: 0% ; left: 40%; right: 15%; width: 80%; height: 45%">
                    <button style="border-radius:5px; font-size: 16px" onclick="window.location.href='https://github.com/aeratos/EWSaeratos'">DOWNLOAD</button>
                </div>
            </div>

            <div name="Botton" style="position:absolute; top: 80% ; left: 85%; right: 0%; width: 15%; height: 30%; background-color: rgb(255, 255, 255,0.4); border-radius:12px">
                <div name="Text" style="position:relative; top: 15% ; left: 15%; right: 15%; width: 80%; height: 45%">
                    <span style="font-size: 16px; color:black; font-family: verdana; font-weight: bold">Developers:</span>
                    </br>
                    <span style="font-size: 14px; color:black; font-family: verdana">Marasco Nicholas</span>
                    </br>
                    <span style="font-size: 14px; color:black; font-family: verdana">Marial Leonard Mentel</span>
                    </br>
                    <span style="font-size: 14px; color:black; font-family: verdana">Predieri Edoardo</span>
                </div>
            </div>
        </div>
    </body>
</html>
